# IntelliJ IDEA files
.idea

# Private env files
.env
api_requests/*private*
api_requests/.env

# Storage directory for cloned repositories
storage

# Python virtual environment directory
.venv

# Unit test / coverage 
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
__pycache__
